* {
    box-sizing: border-box;
    background-image: image(href="http://three.org/ippolito/writing/deck/new_media_presentations/media/movie_theater.jpg");
    
}

html { 
    background: url(http://three.org/ippolito/writing/deck/new_media_presentations/media/movie_theater.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 1000px;
    background-color: black;
  }

  body {
      color: white;
  }

   h1 {
       border: 2px solid black;
       color: black;
       width: fit-content;
       /*margin-left: auto;
       margin-right: auto;
       margin-top: 75px;*/
       padding: 50px;
   }

   .qCount-score {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 75px;
   }

   .question {
        height: 100px;
        width: 100px;
    }

   .score {
        height: 125px;
        width: 100px;
        
   }

   .start {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        border: 1px solid yellow;
        padding-top: 175px;
        padding-bottom: 175px;
        padding-left: 300px;
        padding-right: 300px;
   }